.TextArea{
    font-size: 16px;
    line-height: 24px;
    padding: 12px 20px 12px 20px;
    user-select: none;
    text-align: justify;
    white-space: pre-wrap;

    text-rendering: optimizeLegibility;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.4);
    cursor: text;
}

.TextArea:focus{
    background-color: white;
    outline: none;
    color: rgba(0, 0, 0, 1);
}

.hidden{
    visibility: hidden;
}

.printed-text{
    color: #00cb00;
}

.ch-red{
    border-radius: 3px;
    background-color: #ffaeae;
}

.TextArea:focus .ch-green{
    border-radius: 3px;
    background-color: #b4ffb4;
    animation: flickerAnimation .5s infinite;
}

@keyframes flickerAnimation {
    0%   { background-color: #b4ffb4; }
    50%  { background-color: rgba(0,0,0,0); }
    100% { background-color: #b4ffb4; }
}