.TextArea {
	color: rgba(0, 0, 0, 0.4);
	cursor: text;
	font-size: 1em;
	font-weight: 100;
	line-height: 1.5em;
	padding: 12px 20px 12px 20px;

	text-align: justify;
	text-rendering: optimizeLegibility;
	user-select: none;
	white-space: pre-wrap;
}

.TextArea:focus {
	background-color: white;
	color: rgba(0, 0, 0, 1);
	outline: none;
}

.hidden {
	visibility: hidden;
}

.printed-text {
	color: #00cb00;
}

.TextArea:focus .ch-red {
	background-color: #ffaeae;
	border-radius: 3px;
}

.TextArea:focus .ch-green {
	animation: flickerAnimation .5s infinite;
	background-color: #b4ffb4;
	border-radius: 3px;
}

@keyframes flickerAnimation {
	0% {
		background-color: #b4ffb4;
	}
	50% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: #b4ffb4;
	}
}