.Keycap {
    border-width: 1px;
    box-sizing: border-box;
    width: 1%;
    max-width: 50%;
    height: 80%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px #999;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.2);
    border-style: solid;
}

.keycap-pressed {
    color: rgba(0, 0, 0, 1);
    box-shadow: none;
}

.f1 {
    background-color: #A087C3;
    border-color: #A087C3;
}


.f2 {
    background-color: #CB99C8;
    border-color: #CB99C8;
}


.f3 {
    background-color: #FAB894;
    border-color: #FAB894;
}


.f4 {
    background-color: #FFDABA;
    border-color: #FFDABA;
}


.f5_1 {
    background-color: #FFCC76;
    border-color: #FFCC76;
}

.f5_2 {
    background-color: #FFB54B;
    border-color: #FFB54B;
}

.f_select {
    font-weight: 400;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}