.Keycap {
	align-items: center;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 0 4px #999;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.3);
	display: flex;
	height: 80%;
	justify-content: center;
	margin: 2px;
	max-width: 50%;
	width: 1%;
}

.keycap-pressed {
	box-shadow: none;
	color: rgba(0, 0, 0, 1);
}

.f1 {
	background-color: #A087C3;
	border-color: #A087C3;
}

.f2 {
	background-color: #CB99C8;
	border-color: #CB99C8;
}

.f3 {
	background-color: #FAB894;
	border-color: #FAB894;
}

.f4 {
	background-color: #FFDABA;
	border-color: #FFDABA;
}

.f5_1 {
	background-color: #FFCC76;
	border-color: #FFCC76;
}

.f5_2 {
	background-color: #FFB54B;
	border-color: #FFB54B;
}

.f_select {
	border-color: white;
	border-style: solid;
	color: rgb(255, 255, 255);
	font-weight: 400;
}

.grow-1 {
	flex-grow: 1;
}

.grow-2 {
	flex-grow: 2;
}