.Keyboard{
    font-weight: 300;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 700px;
    font-size: 1em;
}

.Keyboard-row{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}